{% extends 'barber/base.html' %}

{% block content %}

{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section pt-4">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="text-uppercase">Next Schedules</h4>
                </div>
                <div class="col">            
                    <a href="{% url 'default-schedule' %}" class="btn btn-primary mb-3"> Check Default Hours</a>  
                </div>
                <hr>
                <div class="row">
                    {% for schedule, id in schedules.items %}
                       <div class="col-6">
                        <div class="card">
                            <div class="card-body">

                            <h5>{{schedule}}</h5>
                            <a href="{% url 'edit-schedule' id=id %}" class="btn btn-secondary btn-sm">Edit</a>
                            </div>
                        </div>
                            
                       </div>
                    {% endfor %}
                </div>        
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}