{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4">
                <h4 class="card-title">Register</h4>
            </header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group py-1">
                        <label>First Name:</label>
                        <input class="form-control" type="text" name="first_name" placeholder="Enter First Name"
                            required>
                    </div> <!-- form-group end.// -->
                    <div class="col form-group py-1">
                        <label>Last Name:</label>
                        <input class="form-control" type="text" name="last_name" placeholder="Enter Last Name" required>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->

                <div class="form-row">
                    <div class="form-group col-md-12 py-1">
                        <label>Email Address:</label>
                        <input class="form-control" type="email" name="email" placeholder="Enter Email" required>
                    </div> <!-- form-group end.// -->


                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6 py-1">
                        <label>Create Password:</label>
                        <input class="form-control" type="password" name="password1" placeholder="Create a Password"
                            required>

                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6 py-1">
                        <label>Repeat Password:</label>
                        <input class="form-control" type="password" name="password2" placeholder="Confirm Password"
                            required>
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group py-1">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->

            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>

{% endblock %}