{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="img-fluid bg-image"
    style="background: linear-gradient(rgba(18, 17, 18, 0.8), rgba(24, 22, 22, 0.8)), url('{{saloon.layout_image.url}}'); height: 100vh; background-size: cover; background-position: center;">
       <div id="header" class="position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="display-1">{{saloon.layout_text}}</h1>
        <a class="cta btn btn-primary btn-lg">
            <h1>Book Now</h1>
        </a>
    </div>
</div>


{% endblock %}