{% extends 'admin/admin-base.html' %} {% load static %} {% block content %}


<section class="dashboard" style="width: 1000px; margin-left: 40px">
  <section class="head">
    <div class="container">
      <div class="row text-center">
        <!-- headers -->
        <div class="col py-3">
          <h4 id="dashboard">Dashboard</h4>
        </div>
        <div class="col py-3">
          <h4>{{ user.saloon.city }}</h4>
        </div>
      </div>
    </section>

    <section class="calendar">
        <div class="container">
            <div class="row pt-2">
                <!-- calendar panel -->
                <div class="col" id="calendar">
                <div class="card" style="width: 42rem; margin-left: 150px">
                    <div class="card-body m-auto">
                    <!-- datepicker -->
                    <div
                        id="reportrange"
                        class="d-inline"
                        style="
                        background: #fff;
                        cursor: pointer;
                        padding: 5px 10px;
                        width: 100%;
                        "
                    >
                        <i class="fa fa-calendar"></i>&nbsp; <span></span>
                        <i class="fa fa-caret-down"></i>
                    </div> 
                    </div>
                </div>
                </div>
            </div>
    
        <div class="row text-center">
            <div class="card-group" style="width: 43.5rem; margin-left: 150px">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Income</h5>
                <hr />

                <h6 class="card-text" id="income">${{income}}</h6>
                <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Sales</h5>
                <hr />
                <h6 class="card-text" id="sales">{{sales}}</h6>
                <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">New Customers</h5>
                <hr />
                <h6 class="card-text" id="new-customers">{{new_customers}}</h6>
                <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

  <section class="graph">
    <div class="container">
        <h4 class="text-center pt-5 ps-4" id="overview">Overview</h4>

        <div class="row" style="margin-left: 90px;">
          <div class="col-11 d-flex justify-content-start">
            <canvas
              id="myChart"
              width="400"
              height="400"
              style="max-width: 1000px; max-height: 450px"
            ></canvas>
          </div>

          <div class="col" id="graph-days" style="margin-left: -45px; margin-top: 170px;">
            <div class="row">
              <a><span id="days-7" class="badge bg-secondary">7D</span></a>
            </div>
            <div class="row">
              <a><span class="badge bg-secondary">1M</span></a>
            </div>
            <div class="row">
              <a><span class="badge bg-secondary">3M</span></a>
            </div>
            <div class="row">
              <a><span class="badge bg-secondary">1Y</span></a>
            </div>
            <div class="row">
              <a><span class="badge bg-secondary">YTD</span></a>
            </div>
          </div>

        </div>
    </div>
  </section>
</section>

<script type="text/javascript" src="{% static 'js/backoffice/admin-date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backoffice/chart.js' %}"></script>

{% endblock %}
