
{% extends 'admin/admin-base.html' %} 
{% load static %} 
{% block content %} 


<div class="col-auto flex-column" style="width: 1200px;">
  <div class="text-center pt-3 pb-2" style="margin-left: -90px">
    <h4>Dashboard</h4>
      <small> {{user.saloon.city}}</small>
  </div>
    
    <section class="calendar">
      <div class="container">
      <div class="row pt-2 text-center">
        <!-- calendar panel -->
        <div class="col-11" id="calendar">
          <div class="card">
            <div class="card-body m-auto">
                <!-- datepicker -->
                <div
                    id="reportrange"
                    class="d-inline"
                    style="
                    background: white;
                    cursor: pointer;
                    padding: 5px 10px;
                    width: 100%;">
                    <i class="fa fa-calendar"></i>&nbsp; <span></span>
                    <i class="fa fa-caret-down"></i>
                </div> 
              </div>
            </div>
        </div>
      </div>

      <div class="container">
      <div class="row text-center">
        <div class="col-12" style="width: 95.7%; margin-left: -25px;">
          <div class="card-group">
          <div class="card">
              <div class="card-body">
              <h5 class="card-title">Income</h5>
              <hr />

              <h6 class="card-text" id="income">${{income}}</h6>
              <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
          </div>

          <div class="card">
              <div class="card-body">
              <h5 class="card-title">Sales</h5>
              <hr />
              <h6 class="card-text" id="sales">{{sales}}</h6>
              <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
          </div>

          <div class="card">
              <div class="card-body">
              <h5 class="card-title">New Customers</h5>
              <hr />
              <h6 class="card-text" id="new-customers">{{new_customers}}</h6>
              <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="graph" style="position: relative;">
      <div class="container">
  
        <div class="row justify-content-end">
          <div class="col-3" style="margin-top: 40px; margin-right: 20px;">
            <h4 class="" id="overview">Overview</h4>
          </div>
  
          <div class="col-4" id="graph-range" style="margin-top: 60px;">
              <a><span id="7" class="badge bg-secondary">7D</span></a>
              <a><span id="30" class="badge bg-secondary">1M</span></a>
              <a><span id="90" class="badge bg-secondary">3M</span></a>
              <a><span id="365" class="badge bg-secondary">1Y</span></a>
              <a><span id="366" class="badge bg-secondary">YTD</span></a>
          </div>
        </div>
      </div>

      <div class="container">     
        <div class="row">
          <div class="col-11" style=" margin-left: 0px;">
            <canvas
              id="myChart"
              width="400"
              height="400"
              style="max-width: 1100px; max-height: 450px;"
            ></canvas>
          </div>
        </div>
      </div> 
  </section>


  <section class="services pt-4">
    <h4 class="text-center" style="margin-left: -90px;">Services</h4>
    <div class="container">
        <div class="row pt-3">
            {% for service, value in service_summary.items %}
            <div class="col-11 col-md-4 g-0">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{service}}</h5>
                      {% for k, v in value.items %}
                      {% if k == 'income' %}
                      <p class="card-text">{{k}}: ${{v}}</p>
                      {% else %}
                      <p class="card-text">{{k}}: {{v}}</p>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="services pt-4 pb-5">
  <h4 class="text-center" style="margin-left: -90px;">Employees</h4>
  <div class="container">
      <div class="row pt-3">
          {% for barber, value in employee_summary.items %}
          <div class="col-11 col-md-4 g-0">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{barber}}</h5>
                    {% for k, v in value.items %}
                    {% if k == 'income' %}
                    <p class="card-text">{{k}}: ${{v}}</p>
                    {% else %}
                    <p class="card-text">{{k}}: {{v}}</p>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>


    {% for month in graph_months %}
    <p id="graph_months" style='display: none;'>{{ month }}</p>
    {% endfor %}
</div>

  <script type="text/javascript">
    var graphSales = {{graph_sales}};
  </script>
  
  <script type="text/javascript" src="{% static 'js/backoffice/admin-date.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/backoffice/chart.js' %}"></script>
  
{% endblock %} 


