{% extends 'admin/admin-base.html' %}
{% block content %} 

<section class="settings" style="width: 1200px; background-color: #DADADA;">
    <div class="container pt-3">

        <div class="card mx-auto" style="width: 36rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush" style="list-style-type: none;">

                <li class="card-title">
                    <h4>Account</h4>
                </li>
                <a class="list-group-item card-text" style="font-size: 18px;">
                    Profile settings
                </a>
                <a class="list-group-item card-text" style="font-size: 18px;">
                    Manage Permissions
                </a>
                <a class="list-group-item card-text" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#store-email">
                    Store Email 
                </a>
                {% include 'admin/includes/email-change.html' %}
                <a href="{% url 'logout' %}" class="list-group-item card-text" 
                style="font-size: 18px;" onclick="return confirm('Are you sure you want to logout?')">
                    Logout
                </a>
                </ul>
            </div>
        </div>

        <!-- <div class="card mx-auto mt-2" style="width: 36rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush" style="list-style-type: none;">

                <li class="card-title">
                    <h4>Preferences</h4>
                </li> -->
                
                
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
