{% extends 'admin/admin-base.html' %} 

{% block content %}

<section class="transactions pt-2" style="width: 1180px;">
    <h3>Transactions</h3>

    <div class="row">
    <div class="col">
    <p>Total Revenue: ${{income}} &nbsp&nbsp&nbsp&nbsp Total Transactions: {{sales}}</p>
    </div>

    <div class="col-lg  col-md-6 col-sm-12 col" style="margin-top: -10px; margin-right: 20px;">
      <form action="{% url 'transactions' %}" class="search" method="GET">
        <div class="input-group w-100">
            <input type="text" class="form-control" style="width:60%;" placeholder="Search by client name" name="keyword">

        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->
</div>
    <div class="container pt-2">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Appointment</th>
            <th scope="col">Total</th>
            <th scope="col">Service</th>
            <th scope="col">Barber</th>
            <th scope="col">Appointed at</th>
          </tr>
        </thead>

        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td scope="row">{{ forloop.counter0|add:appointments.start_index }}</th>
            <td scope="row" >{{appointment.user.username}}</td>
            <td scope="row">{{appointment.schedule}}</td>
            <td scope="row">{{appointment.total}}</td>
            <td scope="row">{{appointment.service}}</td>
            <td scope="row">{{appointment.barber}}</td>
            <td scope="row">{{appointment.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

      <nav class="mt-4" aria-label="Page navigation sample">
        {% if appointments.has_other_pages %}
        <ul class="pagination">
            {% if appointments.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'transactions' %}?keyword={{keyword}}&page={{appointments.previous_page_number}}">Previous</a></li>
            {% comment %} <li class="page-item"><a class="page-link" href="{% url 'transactions' page=appointments.previous_page_number %}">Previous</a></li> {% endcomment %}

            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
      
            {% for i in page_range %}
                {% if appointments.number == i %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'transactions' %}?keyword={{keyword}}&page={{i}}">{{i}}</a></li>
                    {% comment %} <li class="page-item"><a class="page-link" href="{% url 'transactions' page=i %}">{{i}}</a></li> {% endcomment %}

                {% endif %}
            {% endfor %}
      
      
          {% if appointments.has_next %}
          <li class="page-item"><a class="page-link" href="{% url 'transactions' %}?keyword={{keyword}}&page={{appointments.next_page_number}}">Next</a></li>
          {% comment %} <li class="page-item"><a class="page-link" href="{% url 'transactions' page=appointments.next_page_number %}">Next</a></li> {% endcomment %}

          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
  </div>

</section>

{% endblock %}
