{% extends 'admin/admin-base.html' %}
{% load static %}

{% block content %}


<section class="dashboard" style="width: 1000px; margin-left: 40px;">

    <section class="head">
        <div class="container">

            <div class="row text-center">
                <!-- headers -->
                <div class="col py-3">
                    <h4>Dashboard</h4>
                </div>
                <div class="col py-3">
                    <h4>New York</h4>
                </div>
               
            </div>

            <div class="row pt-2">
                <!-- calendar panel -->
                <div class="col" id="calendar">
                    <div class="card" style="width: 42rem; margin-left: 150px;">
                        <div class="card-body m-auto">
                            <!-- datepicker -->
                            <div id="reportrange" class="d-inline" style="background: #fff; cursor: pointer; padding: 5px 10px; width: 100%">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="calendar">
        <div class="container">
            <div class="row text-center">
                <div class="card-group" style="width: 43.5rem; margin-left: 150px;">
                    
                    <div class="card ">
                        <div class="card-body">
                        <h5 class="card-title">Income</h5>
                        <hr/>

                        <h6 class="card-text">$30,000</h6>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
                    </div>
            
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Sales</h5>
                        <hr/>
                        <h6 class="card-text">452</h6>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">New Customers</h5>
                        <hr/>
                        <h6 class="card-text">159</h6>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section class="graph">
        <div class="container">
            <h4 class="text-center pt-5">Overview</h4>
            <canvas id="myChart" width="400" height="400" style="max-width: 1000px; max-height: 450px;"></canvas> 
        </div>
    </section>

</section>

<script type="text/javascript" src="{% static 'js/admin-date.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>

{% endblock %}

