<!-- Modal -->
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pick Date & Time</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <!-- date input -->
            <h5>Date:</h5>
            <input type="date" name="date" class="date-picker form-control">
            {% if available_schedule|length < 1 %} <small class="date-picker-message">Enter the desired appointment
                day
                above</small>

                <!-- Hour input -->
                {% else %}
                <h5 class="py-1">Time:</h5>
                <input class="form-control hour-picker" id="hour-picker" required list="hours" type="text" name="hours"
                    placeholder="Enter Here The Time You Would Like To Visit Us">
                <datalist id="hours">
                    {% for hours in available_schedule %}
                    <option value="{{hours}}" name="hour-input">
                        {% endfor %}
                </datalist>
                {% endif %}

                <!-- Barber input -->
                {% if barbers %}
                <h5 class="py-1">Barber:</h5>

                <input class="form-control barber-picker" id="barber-picker" required list="barbers" type="text"
                    name="barber" placeholder="Select The Available Professional You Would Like To Work With">
                <datalist id="barbers">
                    {% for barber in barbers %}
                    <option value="{{barber}}" name="barber-input">
                        {% endfor %}
                </datalist>
                {% endif %}
        </div>

        <!-- Display cost -->
        {% if cost %}
        <div class="text-center">
            <small>Total:</small>
            <h4 class="cost">${{cost}}</h4>
        </div>

        <!-- submit -->
        <div class="text-center p-3">
            <a class="btn btn-success" id="submit">
                Confirm</a>
        </div>
        {% endif %}

    </div>

</form>

<script type="text/javascript">

    const serviceId = "{{service.id}}"
    const saloon = "{{saloon.city}}"

</script>