<!-- Modal -->
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pick Date & Time</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <!-- date input -->
            <input type="date" name="date" class="date-picker form-control">
            {% if available_schedule|length < 1 %} <small class="date-picker-message">Enter the desired appointment day
                above</small>

                <!-- Hour input -->
                {% else %}
                <input class="form-control" id="hour-picker" required list="hours" type="text" name="hours"
                    placeholder="Enter Here The Time You Would Like To Visit Us">
                <datalist id="hours">
                    {% for hours in available_schedule %}
                    <option value="{{hours}}" name="hour-input">
                        {% endfor %}
                </datalist>
                {% endif %}

                <!-- Barber input -->
                {% for barber in barbers %}
                <p>{{barber}}</p>
                {% endfor %}

                <!-- submit -->
                <div class="text-center p-3">
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    const serviceId = "{{service.id}}"
    const saloon = "{{saloon.city}}"

</script>