<!-- Modal -->
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pick Date & Time</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h3 class="text-center">{{ saloon.city }}</h3>
        <h4 class="text-center">{{service.service}}</h4>
        <div class="modal-body text-center">
            <input type="date" name="date" class="date-picker">

            {% for barber, time in available_schedule.items %}
            <div class="oi">
                <tr>
                    <td>{{barber}}</td>
                    {% for value in time %}
                    <td>{{value}}</td>
                    {% endfor %}
                </tr>
            </div>
            {% endfor %}

            <!-- submit -->
            <div class="text-center pb-1">
                <button type="submit" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    const serviceId = "{{service.id}}"
    const saloon = "{{saloon.city}}"

</script>