<form method="POST" action="{% url 'change-password' %}">
    {% csrf_token %}
    <div
      class="modal fade"
      id="change-password"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- body -->
          <div class="modal-body">
            
            <div class="form-group pt-2">
              <label for="current-password">Current Password</label>
              <input
                type="password"
                class="form-control"
                id="current-password"
                placeholder="Enter current password"
                name="current-password"
              />
            </div>
            <div class="form-group pt-2">
              <label for="password1">New Password</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                placeholder="Enter New Password"
                name="password1"
              />
            </div>
            <div class="form-group pt-2">
              <label for="password2">Repeat New Password</label>
              <input
                type="password"
                class="form-control"
                id="password2"
                placeholder="Enter New Password Again"
                name="password2"
              />
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Complete</button>
          </div>
        </div>
      </div>
    </div>
  </form>