<form method="POST" action="{% url 'edit-profile' %}">
    {% csrf_token %}
    <div
      class="modal fade"
      id="edit-profile"
      tabindex="-1"
      aria-labelledby="add-modal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- header -->
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- body -->
          <div class="modal-body">
        
            <div class="form-group pt-2">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                value="{{request.user.email}}"
                name="email"
              />
            </div>
            <div class="form-group pt-2">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                value="{{request.user.username}}"
                name="username"
              />
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </form>