{% extends 'admin/admin-base.html' %}
{% block content %} 

<section class="settings" style="width: 1200px; background-color: #DADADA;">
    <div class="container pt-3">
        {% include 'includes/alerts.html' %}

        <div class="card mx-auto mt-2" style="width: 36rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush" style="list-style-type: none;">

                <li class="card-title">
                    <h4>Profile</h4>
                </li>
                <a class="list-group-item card-text" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#edit-profile" data-bs-id="{{request.user}}">
                    Edit Profile
                </a>
                {% include 'admin/settings/edit-profile.html' %}
                <a class="list-group-item card-text" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#change-password" data-bs-id="{{request.user}}">
                    Change Password
                </a>
                {% include 'admin/settings/change-password.html' %}
                <a href="{% url 'logout' %}" class="list-group-item card-text" 
                style="font-size: 18px;" onclick="return confirm('Are you sure you want to logout?')">
                    Logout
                </a>
                </ul>
            </div>
        </div>


        <div class="card mx-auto mt-2" style="width: 36rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush" style="list-style-type: none;">
                <li class="card-title">
                    <h4>Store</h4>
                </li>
                <a href="{% url 'manage-permissions' %}" class="list-group-item card-text" style="font-size: 18px;">
                    Permissions
                </a>
                <a href="{% url 'manage-stores' %}" class="list-group-item card-text" style="font-size: 18px;">
                    Stores
                </a>
                <a class="list-group-item card-text" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#store-email">
                    Store Email 
                </a>
                {% include 'admin/settings/email-change.html' %}
                
                </ul>
            </div>
        </div>          

        <div class="card mx-auto mt-2" style="width: 36rem;">
            <div class="card-body">
                <ul class="list-group list-group-flush" style="list-style-type: none;">
                <li class="card-title">
                    <h4>Payments</h4>
                </li>
                <a href="#" class="list-group-item card-text" style="font-size: 18px;">
                    Payments Settings
                </a>
                <a href="#" class="list-group-item card-text" style="font-size: 18px;">
                    Payouts
                </a>
                </ul>
            </div>
        </div>          
    </div>
</section>

{% endblock content %}
