<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">{{saloon.name}}</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'scheduler' %}" class="nav-link active">Book Now</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'professionals' %}" class="nav-link active">Professionals</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="staff" 
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Staff
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="staff">
            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Admin</a></li>
            <li><a class="dropdown-item" href="{% url 'employee-dashboard' %}">Barber</a></li>
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'logout' %}" class="nav-link active">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
